@model List<myduplifree.Models.KGCViewModel>

@{
    ViewData["Title"]="KGC Page";
   
}

 
                            <h1>Course List </h1>
               
                            <table class="table ">
                            <thead class="text-white">
                                <tr>
                                <th></th>
                                <th>Course Name</th>
                                <th>Course Duration</th>
                                <th>Course Description</th>
                                <th>Trainer Name</th>
                                </tr>
                            </thead>
                            <tbody class="text-warning">

                                @foreach (var KGC in Model)
                               {
                                <tr>
                                <td>@KGC.FileName</td>
                                <td>@KGC.FileLocation</td>
                                <td>@KGC.Publickey</td>
                                <td>@KGC.Updatedto</td>
                                <td>@KGC.Youarein</td>
                                @* <td><img src="@course.trainer_name" width="50px"  alt=""></td> *@
                                
                                
                                </tr>
                                }
                            </tbody>
                            </table>

