@model List<myduplifree.Models.KGCModel>

@{
    ViewData["Title"]="KGC Page";
   
}


<div class="w3l-signinform">
    <!-- container -->
    <div class="wrapper row">
        <!-- main content -->
            
          
                <div class="col-md-6">   
                            <h1>KGC </h1>
               
                            <table class="table ">
                            <thead class="text-white">
                                <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>
                                <th>CSP</th>
                                <th>Generate_Keys</th>
                                </tr>
                            </thead>
                            <tbody class="text-warning">

                                @foreach (var KGC in Model)
                               {
                                <tr>
                                <td>@KGC.Username</td>
                                <td>@KGC.Email</td>
                                <td>@KGC.PhoneNumber</td>
                                <td>@KGC.CSP</td>
                                @* <td><img src="@course.trainer_name" width="50px"  alt=""></td> *@
                                
                                
                                </tr>
                                }
                            </tbody>
                            </table>

                        </div>

                        <div class="w3l-form-info col-md-6">
                            <div class="w3_info">
                                <h1>Cloud Files</h1>
                                  <h2>KGC</h2>
                                <form action="@Url.Action("AddCourseIn", "Admin")" method="post">
                                    <div class="input-group">
                                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input type="text" name="Username" placeholder="Username" required="">
                                    </div>
                                    <div class="input-group">
                                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input type="text" name="Email" placeholder="Email" required="">
                                    </div>
                                    <div class="input-group">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        <input type="text" name="PhoneNumber" placeholder="PhoneNumber" required="">
                                    </div>
                                    <div class="input-group">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        <input type="text" name="CSP" placeholder="CSP" required="">
                                    </div>
					<div class="input-group">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        <input type="text" name="Generate_Keys" placeholder="Generate_Keys" required="">
                                    </div>
				

                                    <button class="btn btn-primary btn-block" type="submit">Add Course</button>
                                </form>
                            
                            </div>
                        </div>


        <!-- //main content -->
    </div>
    <!-- //container -->
    <!-- footer -->
    <div class="footer">
        <p>&copy; 2021 Gathering Log In form. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                target="blank">W3layouts</a></p>
    </div>
    <!-- footer -->
</div>